script(src="/javascripts/bundle.js")

extends layout

block content
  h1= title
  p Welcomse to #{title}
  p Silly you hahahahah
  p Silly you hahahahah
  p Silly you hahahahah
  p Silly you hahahahah