script(src="/javascripts/bundle.js")

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p [--- start] body
    block content
    p [--- end] body